<h1>Your New Madlib</h1>


  <div class="well">
    <h2>
      <%= renderObj.title %> </br>
    </h2> 
    <p>
      <%= renderObj.body %>
    </p>
  </div>


<hr />

<a href="/profile">&larr; Back Home</a>