<h2>HOME</h2>

<nav class="navbar navbar-default navbar-fixed-top nav-pills navbar" role="navigation">
	<a href="/auth/signup">Signup</a>
	<a href="/auth/login">Login</a>
	<a href="/auth/logout">Logout</a>
	<a href="/profile">Profile</a>
</nav>