
<h2>Profile Page</h2>

<a href="/game/saved">View Saved Madlibz</a> </br>

 <form action = "">
  <h1>Choose a Story</h1>
  <fieldset>
  <select id = "selStory">
   <option>Story 1</option>
   <option>Story 2</option>
   <option>Story 3</option>
  </select>
  </fieldset>
 </form>

 	<div class="well">
 		
  	</div>
 </body>
</html>




<a href="/">Home</a>

<!-- <script>
	$('#selStory').on('mouseUp', function(e) {
		e.preventDefault();
		var story = $('#selStory').val();
	})
</script> -->

   <script src="//code.jquery.com/jquery.js"></script>
<!-- TO DO-
	//dropdown with various scripted stories (by title)
		//on release fill location in profile ejs w/ id partial ejs
	//partials insert with individual story
		//hardcode scripted stories w/ missing words (found in partials folder)=> use ejs to insert
		//input boxes for replacement word specific words (for api call)
			//api calls to giphy for related gifs
				/// multiple api calls at same time -> use async
		//replace words with gifs			
	





