<h2>Profile Page</h2>

<a href="/game/saved">View Saved Madlibz</a> </br>
<!-- <a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a> -->

<form action="" id="put-form">
  <label for="title">New Title</label>
  <input type="text" name="name" placeholder="New Title">

  <label for="story">New Story</label></br>
  <textarea name="members"></textarea>

  <input type="submit" value="">
</form>



<a href="/">Home</a>

<script type="text/javascript">
$('.put-form').on('submit', function(e) {
  e.preventDefault();
  var teamElement = $(this);
  var teamUrl = teamElement.attr('action');
  var teamData = teamElement.serialize();
  $.ajax({
    method: 'PUT',
    url: teamUrl,
    data: teamData
  }).done(function(data) {
    // get data returned from the PUT route
    console.log(data);

    // do stuff when the PUT action is complete
    teamElement.remove();

    // or, you can redirect to another page
    window.location = '/teams';
  });
});
</script>






