
<%- include('./partials/navbar') %>

<h2>Profile Page</h2>

  <p> Create a new MadLib by entering a Title and Story below. We'll store it for future use!</p>

  <form action="/madlibs" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="form-group">
    <label for="Body">Body</label>
    <textarea rows="15" type="text" class="form-control" id="body" name="body" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
  
</form>

 	





